body {
  font-family: Roboto, sans-serif;
}

header {
  background-color: #4584b1;
  color: #fff;
  height: 4rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

#logo {
  margin-left: 40px;
}

nav {
  display: flex;
  align-items: center;
  background-color: #103594;
  height: 3rem;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav > ul > li {
  list-style: none;
  color:  #fff;
  margin-right: 2rem;
}

nav > ul > li > a{
  color:  #fff;
  text-decoration: none;
  padding: 0.5rem 1rem
}

nav > ul > li > a:hover{
  color:  #103594;
  background-color: #fff;
  text-decoration: underline;
}


.where-togo h3 {
  margin: 0;
  color: #fff;
  padding:1rem;
}

.where-togo{
  background-color: #040E27;
  padding: 2rem 0;
}


.where-togo > form{
  display: flex;
}


.input-field > *{
  width: 14rem;
  height: 3rem;
  margin: 0.4rem;
  margin-left: 0.6rem;
  border: none;
  border-radius: 4px;
  font-size: 1.42rem
}

.input-field:first-child{
  margin-left: 2rem;
}

input {
  /* Style the form input elements using width, height, padding-left and border-radius */
  

}

.nice-select {
  width: 10rem;
  height: 3rem;
  border-radius: 4px;
}

.search-btn {
  background-color: #f00;
  color: #fff;
  font-size: 0.8rem;
  width: 6rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-left: 2rem;
}

.container {
  /* The destinations are enclosed in an article element that we want to make a grid */
  /* Set the display property to 'grid' and justify the content */
  max-width: 86vw;
  height: 100%;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  place-items: center;
  gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
}

.row {
  /* The row of the grid has 3 columns which should be the same width and roughly a third of the available space */
  /* Use the grid-template-columns property to set each column to 30% */
  /* You can experiment with different units for the width values */
  /* Hint: https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns */
  
}

.section-title {
  text-align: center;
}

.single-destination {
  /* Use the margin property to make some space between the destinations */
  /* Set the overflow to 'hidden' */
  /* The overflow CSS shorthand property sets the desired behaviour for an element's overflow 
    — i.e. when an element's content is too big to fit. In this case, the image is too big too fit. */
}

img {
  /* Set the max-width property to 100% */
  max-width: 100%;
}

.single-destination > img {
  border-radius: 0.6rem;
  box-shadow: 3px 8px 12px 0px rgba(0, 0, 0, 0.4);
}

.testimonial-area {
    background-color: #374050;
    padding: 6rem 0 6rem 0;
    display: flex;

}

.single-testmonial{
  color: #fff;
  background-color: #00000022;
  padding: 2rem;
  max-width: 100%;
  min-height: 100%;
  border: 1pt solid rgb(108, 108, 108);
  box-shadow: 3px 8px 12px 0px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.author-thumb > img {
  margin:auto
}

.footer {
  /* Write your code here */
}

.footer-widget p {
  /* Write your code here */
}

.footer-widget a:hover {
   /* Write your code here */
}

.footer-widget ul li {
  /* Write your code here */
}

.footer-widget a {
   /* Write your code here */
}

/* Media Queries */

@media (max-width: 720px) {
    /* Add some responsive code here */
    /* Make the destinations stack on top of each other */
    /* Make the form input stack on top of each other */
}