body {
  font-family: Roboto, sans-serif;
}

header {
  background-color: #4584b1;
  color: #fff;
  height: 4rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

#logo {
  margin-left: 40px;
}

nav {
  display: flex;
  align-items: center;
  background-color: #103594;
  height: 3rem;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav > ul > li {
  list-style: none;
  color:  #fff;
  margin-right: 2rem;
}

nav > ul > li > a{
  color:  #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition-timing-function: ease-in-out;
  transition: border-color 1s, color 0.8s, background-color 0.4s;
  border: 1px solid transparent;
}

nav > ul > li > a:hover{
  background-color: #4584b1;
  border-color: #fff;
}


.where-togo h3 {
  margin: 0;
  color: #fff;
  padding:1rem;
}

.where-togo{
  background-color: #040E27;
  padding: 2rem 0;
}


.where-togo > form{
  display: flex;
}

section.popular {
  background-color: #4584b1;
  background: radial-gradient(circle, #4584b1 0%, #103594 84%);

  box-shadow: 3px 8px 12px 0px rgba(0, 0, 0, 0.4);
}

.section-title > h3 {
  margin:0;
  padding: 0;
  line-height: 6rem;
  color: #fff;
  font-size: 2rem;
  font-style: italic;
  letter-spacing: 2px;
  font-weight: 100;
}

.input-field > *{
  width: 14rem;
  height: 3rem;
  margin: 0.4rem;
  margin-left: 0.6rem;
  border: none;
  border-radius: 4px;
  font-size: 1.42rem
}

.input-field:first-child{
  margin-left: 2rem;
}

input {
  /* Style the form input elements using width, height, padding-left and border-radius */
  color:#103594;

}

.nice-select {
  width: 14rem;
  height: 3rem;
  border-radius: 4px;
  color:#103594;
}

.search-btn::before{
  content:'🔎';
  padding-right: 0.4rem;
}

.search-btn {
  background-color: #f00;
  color: #fff;
  font-size: 0.8rem;
  width: 6rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-left: 2rem;
}

.container {
  /* The destinations are enclosed in an article element that we want to make a grid */
  /* Set the display property to 'grid' and justify the content */
  display: grid;
  justify-content: center;
  place-items: center;
}

.row {
 
  max-width: 86vw;
  height: 100%;
  margin: 0 auto;
  gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
  min-height: 100%;
  
}

.section-title {
  text-align: center;
}

.single-destination {
  /* Use the margin property to make some space between the destinations */
  /* Set the overflow to 'hidden' */
  /* The overflow CSS shorthand property sets the desired behaviour for an element's overflow 
    — i.e. when an element's content is too big to fit. In this case, the image is too big too fit. */
}

img {
  /* Set the max-width property to 100% */
  max-width: 100%;
}

.single-destination > img {
  border-radius: 0.6rem;
  box-shadow: 3px 8px 12px 0px rgba(0, 0, 0, 0.6);
}

.testimonial-area {
    background-color: #374050;
    border-top: 1px solid #4584b1;
    padding: 6rem 0 6rem 0;
    display: flex;

}

.single-testmonial{
  color: #fff;
  background-color: #ffffff11;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.4) 84%);
  padding: 2rem;
  padding-bottom: 1rem;
  max-width: 100%;
  min-height: 100%;
  border: 1pt solid rgb(108, 108, 108);
  box-shadow: 3px 8px 12px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.author-thumb > img {
  margin:auto;
  border-radius: 100%;
  box-shadow: 3px 8px 12px 0px rgba(0, 0, 0, 0.4);
}

.footer {
  /* Write your code here */
  min-height: 12rem;
  color: #fff;
  background-color: #040E27;
  border-top: 1px solid #fff;
}


.footer-area {
  display:flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-widget p {
  line-height: 1.8rem;
}

.footer-widget a {
  padding: 0.3rem;
   color: #fff;
}

.footer-widget a:hover {
  color:  #103594;
  background-color: #fff;
}

.footer-widget ul li {
  margin-bottom: 1rem;
}


/* Media Queries */

@media (max-width: 720px) {
    /* Add some responsive code here */
    /* Make the destinations stack on top of each other */
    /* Make the form input stack on top of each other */
    nav, nav > ul, .container, .where-togo > form {
      display: block;
    }

    .popular > article {
      display: flex;
      flex-direction: column;
    }

    nav{
      height: auto;
      padding: 1rem 0;
    }

    .input-field{
      margin-left: 2.6rem;
    }

    .input-field:first-child{
      width: 86%;
      margin: auto;
    } 

    .nice-select {
      width: 14rem;
    }

    .single-destination{
      /* margin: auto; */
      text-align: left;
    }

    .single-testmonial{
      margin-bottom: 3rem;;
    }

    .single-testmonial:last-child{
      margin-bottom: 0rem;;
    }
}